<div class="nav">
  <div>
    <a href="/Players">Players</a>
    <a href="/Sports">Sports</a>
    <a href="/States">States</a>
    <a href="/Alphabetical">Alphabetical</a>
    <a href="/Championships">Championships</a>
  </div>
</div>
