<h1> Have A New Debate Question. Submit It Here </h1>

<div class="create">
    <form method="POST" action="/create">
	<div>
	    <textarea name="question" rows="10" cols="200" placeholder="Write Your Debate Question Here" style="resize: none;"></textarea>
	</div>
	
	<br><br>
	
	<input type="submit">
	</fieldset>
    </form>
</div>
